Source: shortn
Section: httpd
Priority: extra
Maintainer: Caoimhe Chaos <caoimhechaos@protonmail.com>
Build-Depends: debhelper (>= 9), golang-go, dh-golang,
 golang-cassandra-dev (>= 19.37.0.1), golang-ancientauth-dev,
 golang-doozer-exportedservice-dev (>= 0.3~rc1)
Standards-Version: 3.9.4
Homepage: http://shortn.ancient-solutions.com/
Vcs-Git: http://git.ancient-solutions.com/golang/shortn.git
Vcs-Browser: http://git.ancient-solutions.com/cgi-bin/gitweb.cgi?p=golang/shortn.git;a=summary

Package: shortn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, run-as-daemon
Description: HTTP server implementing an URL shortener
 In order to add URLs, users must be authenticated using AncientAuth.
 Currently, anybody on the internet can follow short links, there is
 no access control mechanism yet.
