Source: shortn
Section: httpd
Priority: extra
Maintainer: Caoimhe Chaos <caoimhechaos@protonmail.com>
Build-Depends: debhelper (>= 8.0.0), golang-go, go-thriftlib-cassandra
Standards-Version: 3.9.3
Homepage: http://shortn.ancient-solutions.com/
Vcs-Git: http://git.ancient-solutions.com/golang/shortn.git
Vcs-Browser: http://git.ancient-solutions.com/cgi-bin/gitweb.cgi?p=golang/shortn.git;a=summary

Package: shortn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, run-as-daemon
Description: HTTP server implementing an URL shortener.
 In order to add URLs, users must be authenticated using AncientAuth.
 Currently, anybody on the internet can follow short links, there is
 no access control mechanism yet.
