<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xhtml PUBLIC "-//W3C//DTD xhtml 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Add short link</title>
  <meta name="description" content="A web site for adding new short URLs."/>
  <meta name="author" content="shortn.go" />
  <meta name="robots" content="noindex"/>
 </head>
 <body>
  <h1>Add new short URL</h1>
  <form action="/" method="POST">
   <label for="urltoadd">Large URL to make short:</label>
   <input type="text" name="urltoadd" size="64" maxlength="8192"/>
   <input type="submit" name="btnS" value="Shorten!"/>
  </form>
 </body>
</html>
