<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xhtml PUBLIC "-//W3C//DTD xhtml 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Not found</title>
  <meta name="description" content="A web site stating that {@|html} could not be found."/>
  <meta name="author" content="shortn.go" />
  <meta name="robots" content="noindex"/>
 </head>
 <body>
  <h1>Not found</h1>
  <p>
   The short link you were looking for &mdash; <i>{@|html}</i> &mdash; could not be found.
   Maybe <a href="http://www.google.com/search?q={@|url}">try searching for {@|html} on Google</a>?
  </p>
 </body>
</html>
